.button {
  border-style: solid;
  margin: .5em;
  padding: .5em;
}

#assertion {
  font-size: smaller;
  color: gray;
}

html { height: 100% }
body { height: 100%; margin: 1em; padding: 0 }

#mapContainer {
  height: 600px;
  width: 400px;
  position: absolute;
  top:   1em;
  right: 1em;
  border: 1px solid;
}
#map {
  height: 100%;
  width: 100%;
}

.container div {
  padding-top: 1em;
}